  *{
  font-family: 'Outfit', sans-serif;
  }
  body {
      background-color: hsl(212, 45%, 89%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101vh;
      margin: 0;
    }

    .container {
      background-color: white;
      height: 360px; /* Specify the height in pixels */
      width: 220px; /* Specify the width as a percentage of the viewport width */
      border-radius: 15px;
      position: fixed;
      align-items: center;
      justify-content: center;

    }
    .desktop{
        height: 200px;
        width: 200px;
        padding: 10px 10px 0px 10px;
        border-radius: 18px;
    }
    .para1 {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        margin-top: 10px;
        padding: 0px 12px 0px 12px;
    }
    .para2 {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        padding: 0px 15px 12px 12px;
        opacity: 0.5;
    }
